*{
    font-family: arial;
}
a{
    text-decoration: none;
    color: black;
}
hr{
    height: 1px;
    background-color:whitesmoke;
    border: none;
    margin-top: -5px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
    color: #fa5857;
}
p{
    color: #8a8a91;
    font-size: 14px;
    line-height: 22px;
    margin-top: 0px;
}
body{
    margin: 0;
}
.bgnentang{
    background-image: url(ảnh/bgnentang.jpg);
    background-size: 100% 1500px;
    z-index: 9999;
}
.buttons{
    width: 90px;
    border-radius: 90px;
    height: 90px;
    border: 0.5px rgb(230, 229, 229) solid;
    line-height: 90px;
    margin-bottom: 20px;
    background-color: white;
    font-size: 40px;
    color: rgb(230, 229, 229);
    transition: 0.7s;
    cursor: pointer;
}
.buttons:hover{
   background-color:  #fa5857;
   border: 0.5px #fa5857 solid ;
}
.buttons:hover i{
    color: white;
}
.buttons i{
    color: rgb(156, 151, 151);
}
.buttons p{
    margin-top: 20px;
}
.buttons1{
    width: 190px;
    border-radius: 50px;
    border: none;
    margin-bottom: 20px;
    background-color: #fc4e4e;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    padding: 15px 20px;
    color: white;
    transition: 0.5s;
}
.buttons1 a{
    color: white;
}
.buttons1:hover{
    background-color: #cf1313;
    color: white;
}
footer{
    margin: 0;
}
.top{
    float: left;
    width: 100%;
    min-height: 40px;
}
.boxcenter{
    width: 1300px;
    margin: 0 auto;
}

.tieude{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.mb{
    margin-bottom: 80px;
}
.mr{
    margin-right: 3.5%;
}
.banner{
    float: left;
    width: 100%;
    min-height: 500px;
    color: white;
    position: relative;
}
.arrow{
    position: absolute;
    top: 45%;
    left: 13%;
    height: 55px;
    width: 55px;
    border-radius: 60px;
    font-size:35px;
    border: 1px gray solid;
    line-height: 55px;
    background-color: black;
    opacity: 0.4;
    text-align: center;
    transition: 0.5s;
}
.arrow:hover{
    background-color: black;
    opacity: 0.7;
}
.arrow1{
    position: absolute;
    top: 45%;
    right: 13%;
    height: 55px;
    width: 55px;
    border-radius: 60px;
    font-size:35px;
    border: 1px gray solid;
    line-height: 55px;
    background-color: black;
    opacity: 0.4;
    text-align: center;
    transition: 0.5s;
}
.arrow1:hover{
    background-color: black;
    opacity: 0.7;
}
.banner img{
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    height: 600px;
}
.logo{
    float: left;
    width: 40%;
    min-height: 60px;
}
.logo img{
    margin-top: 10px;
    width: 110px;
}
.menu{
    float: left;
    width: 60%;
    min-height: 60px;
}
.menu a{
    text-decoration: none;
    color: #666666;
}
.menu a:hover{
    color: red;
}
ul{
    list-style: none;
}
ul li{
    float: left;
    margin-top: 5px;
}
ul li a{
    margin: 0px 20px;
    font-size: 13px;
    padding: 20px 0px;
}
ul li:hover ul{
    display: block;
    position: absolute;
    left: 30%;
    top: 60px;
}
ul li ul{
    display: none;
    position: absolute;
    background-color: whitesmoke;
    padding: 0px;
    z-index: 99;
    width: 50%;
}
.game1{
    width: 100%;
    float: left;
}
.game1 li{
    float: left;
    width: 30%;
    margin-right: 20px;
}
.game2{
    width: 100%;
    float: left;
}
.game2 li{
    float: left;
    width: 30%;
    margin-right: 20px;
}
ul li ul li{
    float: none;
    margin: 10px auto;
}
ul li ul img{
    width: 100%;
    transition: 0.1s;
}
ul li ul li:hover img{
    border:2px red solid;
    width: 98%;
}
.nentang{
    width: 100%;
    float: left;
}
.nentang1 {
    float: left;
    width: 40%;
    margin: 25px ;
    text-align: center;
}
.nentang2{
    width: 5px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
.nentang1 a{
    margin: 0;
}
.nentang li:hover img{
    border: 0;
}
.nentang1 img{
    width: 100%;
}
.nentang hr{
    margin-top: 25px;
    height: 140px;
    width: 1px;
    border: 0;
    background-color: #e2e2e2;
}
.dstin{
    width: 100%;
    float: left;
}
.bg{
    background-color: purple;
    min-height: 200px;
}
.box40{
    width: 76.5%;
    margin: 0 auto;
}
.box80{
    width: 65%;
    margin: 0 auto;
    margin-left: 28%;
}
.box80-1{
    width: 65%;
    margin: 0 auto;
    margin-left: 100px;
}
.box80-2{
    width: 75%;
    margin: 0 auto;
    margin-left: 12%;
    margin-top: 100px;
}
.boxnews1{
    float: left;
    width: 31%;
    min-height: 290px;
    background-image: url('ảnh/1_03.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 170px;
    text-align: center;
    margin-right: 1%;
    margin-left: 3%;
}
.boxnews2{
    float: left;
    width: 31%;
    min-height: 290px;
    background-image: url('ảnh/1_05.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 170px;
    text-align: center;
    margin-right: 1%;
}
.boxnews3{
    float: left;
    width: 31%;
    min-height: 290px;
    background-image: url('ảnh/1_07.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 170px;
    text-align: center;
}

.boxVCT{
    background-color: #f9f9fb;
    width: 100%;
    float: left;
}
.boxNT{
    background-color: #f9f9fb;
    width: 100%;
    float: left;
}
.boxPC {
    width: 100%;
    float: left;
    margin-top: 100px;
    margin-bottom: 140px;
}
.boxSN {
    width: 100%;
    float: left;
    margin-top: 0px;
    margin: 0 auto;
}
.box100{
    float: left;
    width: 100%;
}
.boxleft{
    width: 49%;
    float: left;
    margin-right: 2%;
    min-height: 640px;
}
.boxleft {
    text-decoration: none;
}
.boxleftt a{
    width: 100%;
   margin-top: 200px;
   text-decoration: none;
   color: #fa5857;
   font-size: 24px;
   font-weight: bold;
}
.boxleftbt{
    width: 100%;
    float: left;
    margin-top: 30px;
}
.boxleftbt img{
    width: 50%;
}
.boxleftbt1{
    float: left;
    width: 20%;
    text-align: center;
    margin-right: 50px;
}
.boxleftbt1:hover p{
    color: #fa5857;
}
.boxleftbt2:hover p{
    color: #fa5857;
}
.boxleftbt2{
    float: left;
    width: 20%;
    text-align: center;
}
.boxright{
    float: left;
    width: 49%;
    min-height: 640px;
}
.boxright img{
    width: 50%;
    height: 50%;
    margin-left: 30px;
}
.boxleft1{
    width: 50%;
    float: left;
    margin-right: 3%;
    min-height: 500px;
}
.boxleft1 img{
    width: 100%;
}
.boxright1{
    float: left;
    width: 45%;
    min-height: 500px;
}
.boxright1{
    text-decoration: none;
}
.boxright1-t a{
    width: 100%;
    margin-top: 80px;
    text-decoration: none;
    color: #fa5857;
    font-size: 24px;
    font-weight: bold;
}
.boxright1-bt{
    width: 100%;
    float: left;
    margin-top: 30px;
}
.boxright1-bt1:hover p{
    color: #fa5857;
}
.boxright1-bt2:hover p{
    color: #fa5857;
}
.boxright1-bt img{
    width: 50%;
}
.boxright1-bt1{
    float: left;
    width: 20%;
    text-align: center;
    margin-right: 50px;
}
.boxright1-bt2{
    float: left;
    width: 20%;
    text-align: center;
    margin-right: 50px;
}
.boxleft2{
    width: 49%;
    float: left;
    margin-right: 2%;
    min-height: 300px;
}
.boxright2 img{
    width: 730px;
}
.boxright2{
    float: left;
    width: 49%;
    min-height: 300px;
}
.boxone{
    float: left;
    width: 47%;
    margin-right: 1.5%;
    min-height: 200px;
    margin-left: 68px;
}
.boxone img{
    width: 160px;
    margin-top: 40px;
    margin-bottom: 35px;
}
.boxone p{
    line-height: 30px;
    letter-spacing: 0px;
}
.boxtwo1{
    float: left;
    width: 14%;
    margin-right: 1.5%;
    min-height: 200px;
    margin-top: 40px;
}
.boxtwo2{
    float: left;
    width: 14%;
    margin-right: 1.5%;
    min-height: 200px;
    margin-top: 40px;
}
.boxtwo3{
    float: left;
    width: 14%;
    min-height: 200px;
    margin-top: 40px;
}
span{
    font-size: 14px;
    color: black;
    line-height: 30px;
}
.boxend {
    float: left;
    width: 85%;
    margin: 0 auto;
    min-height: 60px;
    margin-left: 65px;
}
.boxend1{
    float: left;
    width: 58%;
    margin-right: 2%;
    min-height: 60px;
}
.boxend2{
    float: left;
    width: 40%;

}